
Test.vcxproj
*.filters
*.tlog
*.idb
*.pdb
*.obj
*.log
bin_output.bin
text_output.txt
text_output.txt
text_output.txt
.vs/Test/v14/.suo
AssemblyProj1.vcxproj
AssemblyProj1.vcxproj
strings_in_disguise.bin.bak
*.bak
CS 301 proj 1.vcxproj
AssemblyProj1.vcxproj
CS 301 proj 1.sln
*.db
x64/Debug/CS 301 proj 1.exe
x64/Debug/CS 301 proj 1.ilk
.vs/CS 301 proj 1/v14/.suo
x64/Debug/iomain.obj.enc
